In [1]:
#Day1_B38
print('Hello World')

Hello World

In [90]:
#Day2_B38
#Introduction to Variables in Python:
x = 3
y = 2

In [4]:
x+y

5

In [5]:
first name = 'Ali'

SyntaxError: invalid syntax (<ipython-input-5-00bb88a720fc>, line 1)

In [6]:
firstname = 'Ali'
print(firstname)

Ali

In [7]:
first_name = 'Ali'
print(first_name)

Ali

In [8]:
1name = 'Ram'
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-bb2c73e076cd>, line 1)

In [10]:
name1 = 'Ram'
print(name1)

Ram

In [11]:
name@ = 'sara'
print(name@)

SyntaxError: invalid syntax (<ipython-input-11-c1e09aff1aac>, line 1)

In [12]:
name1 = "Ujwal"
print(name1)

Ujwal

In [13]:
name2 = 'Vennila'
print(name2)

Vennila

In [15]:
name3 = '''Divya '''
print(name3)

Divya

In [16]:
name4 = """Vidya"""
print(name4)

Vidya

In [87]:
#Day3_B38
#String Methods:

In [23]:
name5 = 'python'
print(name5)

python

In [25]:
type(name5)    #type method

str

In [27]:
fullname = 'suresh kumar'
print(fullname)

suresh kumar

In [29]:
print(fullname.title())    #title method

Suresh Kumar

In [31]:
print(fullname.upper())   #upper method

SURESH KUMAR

In [32]:
print(fullname.lower())   #lower method

suresh kumar

In [33]:
#Introduction to f string:
firstname = 'sarvana'
lastname = 'kumar'

In [34]:
# fullname...?

In [38]:
fullname = f"{firstname} {lastname}"
print(fullname)

sarvana kumar

In [40]:
fullname = f'keep up the good work, {firstname} {lastname}'
print(fullname.title())

Keep Up The Good Work, Sarvana Kumar

In [41]:
#Adding whitespaces to strings

In [42]:
#Req.: Survey for favourite programming language

In [43]:
print('fav_lang:pythoncjavac++html')

fav_lang:pythoncjavac++html

In [47]:
print('fav_lang:\npython\nc\njava\nc++\nhtml')   # \n --> new line delimeter

fav_lang:
python
c
java
c++
html

In [48]:
print('fav_lang:\n\tpython\n\tc\n\tjava\n\tc++\n\thtml')   #\t --> tab delimeter

fav_lang:
	python
	c
	java
	c++
	html

In [89]:
#Day4_B38
#Removing whitespaces from string:

In [52]:
name6 = 'narendra'
print(name6)

narendra

In [54]:
name7 = '  narendra'
print(name7)

  narendra

In [56]:
name8 = 'narendra  '
print(name8)

narendra

In [57]:
name7.lstrip()   #left stripping

'narendra'

In [58]:
name8.rstrip()   #right stripping

'narendra'

In [59]:
a = ' khansa '
print(a)

 khansa

In [60]:
a.strip()

'khansa'

In [61]:
#Introduction to List datatype:

In [63]:
students = ['chitra','naveen','ariba','imran','suresh','mathew','saranya','lakshmi'] # indexing as 0,1,2,...

In [64]:
print(students)

['chitra', 'naveen', 'ariba', 'imran', 'suresh', 'mathew', 'saranya', 'lakshmi']

In [65]:
type(students)

list

In [66]:
#Accessing the list elements:

In [68]:
print(students[1])

naveen

In [70]:
print(students[1].title())

Naveen

In [78]:
#Add elements in the list:

In [72]:
students.append('madhavi')

In [73]:
print(students)

['chitra', 'naveen', 'ariba', 'imran', 'suresh', 'mathew', 'saranya', 'lakshmi', 'madhavi']

In [74]:
students.append('kedar')

In [76]:
print(students)

['chitra', 'naveen', 'ariba', 'imran', 'suresh', 'mathew', 'saranya', 'lakshmi', 'madhavi', 'kedar']

In [79]:
#Add elements at desired position in the list:

In [80]:
students.insert(2,'sarath')
print(students)

['chitra', 'naveen', 'sarath', 'ariba', 'imran', 'suresh', 'mathew', 'saranya', 'lakshmi', 'madhavi', 'kedar']

In [81]:
print(students[2])

sarath

In [82]:
#Modify 'naveen' name to vamsi:

In [83]:
students[1] = 'vamsi'
print(students)

['chitra', 'vamsi', 'sarath', 'ariba', 'imran', 'suresh', 'mathew', 'saranya', 'lakshmi', 'madhavi', 'kedar']

In [84]:
#Delete elements from the list:

In [85]:
del students[2]
print(students)

['chitra', 'vamsi', 'ariba', 'imran', 'suresh', 'mathew', 'saranya', 'lakshmi', 'madhavi', 'kedar']